<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="knownTitles.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    
    </configSections>
    <startup>
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <knownTitles.My.MySettings>
            <setting name="Language" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ClipboardSyntax" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DebugMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExtendedView" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Shortcuts" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveLogfile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveSQLUpdateQuery" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchMode_Normal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SearchMode_SQLSyntax" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Columns_Normal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Columns_Specified" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Columns_All" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Transparency" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Wildcraft" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogfilePath" serializeAs="String">
                <value/>
            </setting>
            <setting name="SQLUpdateQueryPath" serializeAs="String">
                <value/>
            </setting>
        </knownTitles.My.MySettings>
    </userSettings>

</configuration>
